/* @font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?lwlfc0');
    src:  url('../fonts/icomoon.eot?lwlfc0#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?lwlfc0') format('truetype'),
      url('../fonts/icomoon.woff?lwlfc0') format('woff'),
      url('../fonts/icomoon.svg?lwlfc0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    /*font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
   /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-play3:before {
    content: "\ea1c";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-appleinc:before {
    content: "\eabe";
  }
  .icon-linkedin2:before {
    content: "\eaca";
  } */

  /*limpiar estilos por defecto*/

/*body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  } */

  #section-hero {
    background-image: url("img/taxi.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0px;
    background-attachment: scroll;
    background-size: cover;
  }

  
  ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 20%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0);  /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  align-content: center;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #4ba6e2;
  color: white;
  align-self: center;
}

.modal-body {padding: 2px 16px;}
}

.box-hero {
  position: relative;
  width: 40px;
  height: 20px;
  right: 0;
  border: 3px solid white;
} 



 /* .menu-nav .icon {
    display: none;
  }
  
  @media screen and (max-width: 320px) {
    .menu-nav a:not(:first-child) {display: none;}
    .menu-nav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 320px) {
    .menu-nav.responsive {position: relative;}
    .menu-nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .menu-nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  } */

