*{
  margin: 0;
  padding: 0;
}

body {
  background: #E9ECF4;
  /* color: #000; */
}

.conteiner {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: repeat(6, auto);

  grid-template-areas: "header header header"
                       "content content sidebar"
                       "widget-1 widget-2 widget-2"
                       "driver-1 driver-1 driver-2"
                       "rate-1 rate-1 map"
                       "footer-1 footer-list footer-3"
}

.conteiner > div,
.conteiner .header,
.conteiner .content,
.conteiner .sidebar,
.conteiner .footer {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
}

.conteiner .header {
  /* background: #12203E; */
  color: rgb(172, 164, 164);
  grid-area: header;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: right;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

.conteiner .content {
  grid-area: content;
  background-image: url("img/taxi.jpg");
  background-position: center;
  background-size: cover;

}

.conteiner .sidebar {
  grid-column: 3 / 4;
  background: #f7b617;
  color: #fff;
  /* text-align: center;
  display: flex; */
  /* align-items: center;
  justify-content: center; */
  min-height: 100px;
  grid-area: sidebar;

}

.conteiner .widget-1
/*.conteiner .widget-2,*/
 {
  background: #f7b617;
  color: #fff;
  height: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteiner .widget-1 {
  grid-area: widget-1;
  background: #f7b617;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.conteiner .widget-2 {
  grid-area: widget-2;
  background: #f7b617;
  color: #fff;
  height: 150px;
  text-justify: auto;
  min-height: 100px;
}

.conteiner .driver-1 {
  grid-area: driver-1;
  background-image: url("img/conduce.jpg");
  background-position: center;
  background-size: cover;
}

.conteiner .driver-2 {
  grid-area: driver-2;
  background: #f7b617;
  color: #fff;
  height: 150px;
  text-justify: auto;
  min-height: 100px;
}

.conteiner .rate-1 {
  grid-area: rate-1;
  background: #f7b617;
  color: #fff;
  height: 200px;
  text-justify: auto;
  min-height: 100px;
}

.conteiner .map {
  grid-area: map;
  background: #f7b617;
  background-image: url("img/map.png");
  background-size: cover;
  background-position: center;
}

.conteiner .footer-1 {
  background: #2b2b2b;
  color: #fff;
}

.conteiner .footer-list {
  grid-area: footer-list;
  background: #2b2b2b;
  color: #fff;
  font-size: xx-small;
  -webkit-column-count: 2; /* Old Chrome, Safari and Opera */
  -webkit-column-gap: 35px;
  -moz-column-count: 2; /* Old Firefox */
  -moz-column-gap: 35px;
  column-count: 2;
  column-gap: 35px;
 
}

.conteiner .footer-3 {
  grid-area: footer-3;
  background: #2b2b2b;
  color: #fff;
  align-content: center;
  column-count: 1;
}

@media screen and (max-width: 768px) {
  .conteiner {
      grid-template-areas: "header header header"
                           "sidebar sidebar sidebar"
                           "widget-2 widget-2 widget-2"
                           "widget-1 widget-1 widget-1"
                           "driver-2 driver-2 driver-2"
                           "rate-1 rate-1 rate-1" 
                           "map map map"
                           "footer-1 footer-1 footer-1"
                           "footer-list footer-3";
  }

}

  
